<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert Prices</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <header class="page-header">
        <h1>Сигнализатор достижения цены ценового порога</h1>
    </header>

    <div id="wrapper">
        <div id="parameters">
            <h3>Добавление акций</h3>
            <form id="entering-data-form" action="api/stock-alerts" method="post">
                <label for="ticker">Тикер:</label>
                <input
                    type="text" id="ticker" name="ticker"
                    pattern="[A-Z]{1,5}"
                    title="Только заглавные буквы (1-5 символов)"
                    required
                ><br><br>

                <label for="buy_price">Цена покупки:</label>
                <input
                    type="text" 
                    inputmode="decimal"
                    id="buy_price" 
                    name="buy_price"
                    pattern="^(?!\.)(?!.*\.$)\d+\.?\d*$"
                    title="Только цифры и одна точка внутри числа (макс. 7 символов, пример: 123.45)"
                    maxlength="7"
                    required
                ><br><br>

                <label for="sell_price">Цена продажи:</label>
                <input
                    type="text"
                    inputmode="decimal"
                    id="sell_price"
                    name="sell_price"
                    pattern="^(?!\.)(?!.*\.$)\d+\.?\d*$"
                    title="Только цифры и одна точка внутри числа (макс. 7 символов, пример: 123.45)"
                    maxlength="7"
                    required
                ><br><br>

                <button type="submit">Внести в список</button>
            </form>
        </div>

        <div id="report-block">
            <h3>Список отслеживания</h3>
            <div id="stock-table-container">
                <table id="stock-table">
                    <thead>
                        <tr>
                            <th>Тикер</th>
                            <th>Цена покупки</th>
                            <th>Цена продажи</th>
                            <th>Текущая цена</th>
                            <th>% Δ</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="stock-table-body">
                        <!-- Данные будут вставлены через JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Подключение JavaScript -->
        <script src="/static/scripts.js"></script>
    </div>
</body>
</html>